.kitchen {
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.kitchen .logoWrapper {
    display: flex;
    justify-content: space-between;
}

.kitchen .logo {
    width: 86px;
    height: 76px;
    margin: 20px;
    margin-bottom: 0px;
}

.kitchen h1 {
    margin-top: -70px;
    font-size: 58px;
    padding-top: 0px;
    text-align: center;
}

.kitchen .ordersWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-height: 750px;
    overflow-y: scroll;
}

.kitchen hr {
    width: 100%;
    background-color: #514A4A;
}

 .preparationItem {
    display: flex;
    flex-direction: column;
    background: #B9AEAE;
    width: 233px;
    height: 297px;
    margin-top: 15px;
    position: relative;
    margin-bottom: 5px;
}

#clientName {
    text-align: center;
    padding-top: 7px;
}

#date {
    text-align: center;
}

.food {
    overflow-y: scroll;
    max-height: 150px;
    padding-left: 8px;
}

/* #content {
    padding-left: 8px;
} */

#obsLabel {
    font-weight: bold;
}

#obsContent {
    padding-left: 8px;
}

.buttonsWrapper {
    display: flex;
    position: absolute;
    margin-top: 245px;
}

#peso {
    width: 30px;
    height: 3opx;
    margin-left: 5px;
}

#edit {
    width: 30px;
    height: 3opx;
    margin-left: 32px;
}

.preparationItem button {
    text-align: center;
    border-radius: 10px;
    background-color: #F43E3E;
    margin-left: 23px;
    font-size: 21px;
    width: 110px;
    border: none;
}

.preparationItem .ready {
    background-color: #5CCC6E;
    font-size: 13px;
}

#servedDate {
  margin-top: 40px;
  margin-left: 77px;
  position: absolute;
}