@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap');

.orders {
    display:flex;
    flex-direction: column;
}

.orders .logoWrapper {
    display: flex;
    justify-content: space-between;
}

.orders .logo {
    width: 86px;
    height: 76px;
    margin: 20px;
    margin-bottom: 0px;
}

.orders h1 {
    margin-top: -70px;
    font-size: 58px;
    padding-top: 0px;
    text-align: center;
}

.orders .menuWrapper {
    display: flex;
    justify-content: space-around;
}

.orders .buttonWrapper {
    margin-left: -50px;
}

.orders .menuButton {
    font-size: 32px;
    font-weight: lighter;
    border-radius: 10px;
    border: none;
    background: #5CCC6E;
    margin: 10px;
    padding: 10px 15px;
}

.orders .item {
    border-radius: 10px;
    border: none;
    background: #5CCC6E;
    text-align: center;
    padding: 10px 15px;
    width: fit-content;
}

.orders .order {
    background: #B9AEAE;
    border-radius: 2px;
    height: fit-content;
    max-height: 550px;
    overflow-y: scroll;
}

.orders input {
    background: #D9D9D9;
    border-radius: 2px;
    border: none;
    color: black;
    margin: 15px;
    padding: 6px;
    font-size: 20px;
}

.orders ::placeholder {
    color: black;
}

.orders .itemsContainer {
display: flex;
justify-content: space-between;
height: 40px;
}

.orders p {
    padding-left: 20px;
}

.orders label {
    margin-left: 20px;
    font-size: 22px;
}

.orders .nameSelection {
    width: 150px;
    margin: 20px;
    margin-left: 30px;
    margin-right: -200px;
    height: fit-content;
}

.orders .priceSelection {
    width: 80px;
    margin: 20px;
    margin-left: 10px;
    margin-right: -150px;
    height: fit-content;
}

.orders .delete {
    width: 30px;
    height: 30px;
    margin: 0px;
    margin-right: 30px;
    padding-top: 15px;

}

.orders .totalContainer {
    display: flex;
    align-items: flex-end;
    height: 40px;
}

.orders #totalLabel {
    margin-left: 25px;
}

.orders #total {
    margin: 0px;
    width: 100px;
    margin-left: 90px;
    font-size: 22px;
}

.orders #sendButton {
    background-color: #ffb347;
    border: none;
    margin-top: 0px;
    margin-left: 180px;
    margin-bottom: 10px;
    width: 80px;
    height: 36px;
    border-radius: 5px;
    font-size: 20px;
}

.orders .kitchenButton {
    font-size: 32px;
    font-weight: lighter;
    border-radius: 10px;
    border: none;
    background: #75C3EE;
    padding: 6px 20px;
    margin-top: 700px;
    margin-left: 870px;
    position: fixed;
}

.orders .link {
    text-decoration: none;  
}

@media only screen and (max-width: 830px) {

    .orders .menuWrapper {
        margin-top: 100px;
    }

    .orders .buttonWrapper {
        margin-left: -20px;
    }

    .orders .order {
        max-height: 700px;
        overflow-y: scroll;
    }

    .orders .eachOrder {
        margin-top: 0px;
    }

    .orders .kitchenButton {
        margin-top: 950px;
        margin-left: 620px;
    }
}